@import "./const.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
}
body {
  background: #0f0525;
  position: relative;
}

.gy-dialog.van-dialog {
  background-color: #28244d;
  color: #fff;
  width: 270px;
  height: 412px;
  margin-top: 35px;
  .van-dialog__message {
    font-size: 16px;
  }
  .van-dialog__confirm {
    color: #00ffd2;
    &:active {
      color: #00ffd2;
    }
  }
  .van-dialog__cancel {
    color: #00ffd2;
  }
  .van-button--default {
    background-color: #28244d;
  }
}
.gy-tabs {
  .van-tabs__wrap {
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.4);
  }
  .van-tabs__nav {
    background-color: $bgColor;
  }
  .van-tab {
    color: rgba($color: #fff, $alpha: 0.6);
  }
  .van-tab--active {
    color: #fff;
  }
  .van-tabs__line {
    background-color: #00ffd2;
  }
}
.gy-picker {
  &.van-picker{
    background-color: $contentBgColor;
  }
  .van-picker{
    &__cancel{
      color: #fff;
    }
    &__confirm{
      color: #fff;
    }
    &-column__item{
      color:rgba($color: #fff, $alpha: 0.4);
      &--selected{
        color:#fff;
      }
    }
    &__mask{
      background-image: unset;
    }
  }
}
.gy-sheet {
  &.van-action-sheet {
    background: rgba($color: #f0f0f0, $alpha: 0.4);
  }
  .van-action-sheet {
    &__gap {
      background-color: #000;
    }
    &__item {
      background-color: $contentBgColor;
      color: #fff;
      &:active{
        background-color: $contentBgColor;
      }
    }
    &__cancel{
      background-color: $contentBgColor;
      color: #fff;
      &:active{
        background-color: $contentBgColor;
      }
    }
  }
}
